body {
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: rgba(0,0,0,0.8);
    position: relative;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

.fx {
    display: flex;
}

#banner {
    background-color: #FFC017;
}

.menu {
    display: flex;
    justify-content: center;
    background-color: #FFC017;
    border-bottom: 1px solid #242424
}

.menu_content {
    display: flex;
    flex-direction: row;
    width: 1192px;
    max-width: 1192px;
    height: 75px;
    margin : 0 64px;
    
}

.logo {
    font-size: 30px;
    display: flex;
    align-items: center;
}
.logo a {
    text-decoration: none;
    color: #242424;
    font-weight: bold;
}

.menu_middle {
    flex: 1 0 auto;
}

.menu_right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu_item {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    margin-right: 25px;
}
.menu_item a {
    text-decoration: none;
    color: rgb(36, 36, 36);
    font-family: Arial, Helvetica, sans-serif;
}

.menu_last a {
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px
}
.menu_last a span {
    background-color: black; 
    border: 1px solid black;
    padding: 8px 16px;
    border-radius: 99em;
}

.banner {
    display: flex;
    justify-content: center;
    background-color: #FFC017;
    border-bottom: 1px solid #242424
}

.banner_content {
    display: flex;
    width: 1192px;
}

.banner_left {
    width: 600px;
    padding: 94px 0;
}
.banner_title {
    font-size: 106px;
    margin-bottom: 35px;
}
.banner_message {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    margin-bottom: 50px;
}
.banner_button a {
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    
}
.banner_button a span {
    display: inline-block;
    text-align: center;
    background-color: black; 
    border: 1px solid black;
    padding: 8px 20px;
    border-radius: 99em;
    width: 213px;
}

.banner_right {
    position: absolute;
    right: 0;
    width: 585px;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    word-wrap: break-word;
    padding-top: 20px;
}

.trends_container {
    display: flex;
    justify-content: center;
}

.trends_content {
    width: 1192px;
    max-width: 1192px;
    margin : 0 64px;
}

.trends_content > div {
    margin: 40px 0 16px 0;
}
.trends_header {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.trends_header h2 {
    font-size: 16px;
    font-weight: 550;
    color: #242424;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 10px;
}

.trends {
    
}
.trends > div {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 -16px;
    width: calc(100% + 32px);
}

.trend {
    flex-basis: 33.3333%;
    max-width: 33.3333%;
    
    flex-grow: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.trend > div {
    margin-bottom: 24px;
    align-items: flex-start;
    padding: 0 16px;
}
.trend_left {
    position: relative;
    margin-right: 16px;
    color: #F2F2F2;;
    font-size: 32px;
    line-height: 38px;
    font-weight: 600;
    width: 40px;
    top: -10px;
}
.trend_right {
    
}
.trend_right > div {
    flex-direction: column;
}
.trend_author {
    font-size: 13px;
    margin-bottom: 8px;
}
.trend_author > div {
    flex-direction: row;
    align-items: center;
}
.trend_author_logo {
    padding: 0;
    max-height: 20px;
    max-width: 20px;
    height: 20px;
    width: 20px;
}
.trend_author_logo > img {
    border-radius: 50%;
}
.trend_author_name {
    margin-left: 8px;
}

.trend_title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    max-height: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    letter-spacing: 0;
}
.trend_date_time {
    font-size: 13px;
    color: #6B6B6B;
    line-height: 20px;
}
.trend_date_time > div {
    flex-direction: row;
    align-items: center;
}
.trend_date_seperator {
    padding: 0 6px;
}
.trend_read_lock {
    width: 16px;
    height: 16px;
    margin: 0 0 0 4px;
}

.posts_container {
    border-top: 1px solid #F2F2F2 ;
    padding-top: 56px;
}

.posts_container > div.fx {
    justify-content: center;
}

.posts_area {
    margin: 0 64px;
    max-width: 1192px;
    width: 100%;
}

.posts_grid {
    display: grid;
    grid-template-columns: repeat(8,1fr) repeat(4, minmax(48px, 1fr));
    grid-template-rows: 1fr;
}

.posts {
    grid-column: 1 / span 7;
    grid-row-start: 1;
}

.posts_tags {
    grid-column: 9 / span 4;
    grid-row-start: 1;
}