body {
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: rgba(0,0,0,0.8);
    position: relative;
    min-height: 100vh;

    /* background-color: yellowgreen; */
}

#banner {
    background-color: #FFC017;
}

.menu {
    display: flex;
    justify-content: center;
    background-color: #FFC017;
    border-bottom: 1px solid #242424
}

.menu_content {
    display: flex;
    flex-direction: row;
    width: 1192px;
    max-width: 1192px;
    height: 75px;
    margin : 0 64px;
    
}

.logo {
    font-size: 30px;
    display: flex;
    align-items: center;
}
.logo a {
    text-decoration: none;
    color: #242424;
    font-weight: bold;
}

.menu_middle {
    flex: 1 0 auto;
}

.menu_right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu_item {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    margin-right: 25px;
}
.menu_item a {
    text-decoration: none;
    color: rgb(36, 36, 36);
    
}