body {
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: rgba(0,0,0,0.8);
    position: relative;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

.fx {
    display: flex;
}

#banner {
    background-color: #ffc017;
}

.menu_container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
}
.menu_container + div {
    height: 75px;
}

.menu {
    display: flex;
    justify-content: center;
    background-color: #ffc017;
    transition: background-color 0.5s ease; 
    border-bottom: 1px solid #242424
}

.menu_content {
    display: flex;
    flex-direction: row;
    width: 1192px;
    max-width: 1192px;
    height: 75px;
    margin : 0 64px;
    
}

.logo {
    font-size: 30px;
    display: flex;
    align-items: center;
}
.logo a {
    text-decoration: none;
    color: #242424;
    font-weight: bold;
}

.menu_middle {
    flex: 1 0 auto;
}

.menu_right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu_item {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    margin-right: 25px;
}
.menu_item a {
    text-decoration: none;
    color: rgb(36, 36, 36);
    font-family: Arial, Helvetica, sans-serif;
}

.menu_last a {
    text-decoration: none;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px
}
.menu_last a span {
    background-color: #000000; 
    border: 1px solid #000000;
    padding: 8px 16px;
    border-radius: 99em;
}

.banner {
    display: flex;
    justify-content: center;
    background-color: #ffc017;
    border-bottom: 1px solid #242424
}

.banner_content {
    display: flex;
    width: 1192px;
    margin: 0 64px;
}

.banner_left {
    width: 600px;
    padding: 94px 0;
}
.banner_title {
    font-size: 106px;
    margin-bottom: 35px;
}
.banner_message {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    margin-bottom: 50px;
}
.banner_button a {
    text-decoration: none;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    
}
.banner_button a span {
    display: inline-block;
    text-align: center;
    background-color: #000000; 
    border: 1px solid #000000;
    padding: 8px 20px;
    border-radius: 99em;
    width: 213px;
}

.banner_right {
    position: absolute;
    right: 0;
    width: 585px;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    word-wrap: break-word;
    padding-top: 20px;
}

.trends_container {
    display: flex;
    justify-content: center;
}

.trends_content {
    width: 1192px;
    max-width: 1192px;
    margin : 0 64px;
}

.trends_content > div {
    margin: 40px 0 16px 0;
}
.trends_header {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.trends_header h2 {
    font-size: 16px;
    font-weight: 550;
    color: #242424;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 10px;
}

.trends {
    
}
.trends > div {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 -16px;
    width: calc(100% + 32px);
}

.trend {
    flex-basis: 33.3333%;
    max-width: 33.3333%;
    
    flex-grow: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.trend > div {
    margin-bottom: 24px;
    align-items: flex-start;
    padding: 0 16px;
}
.trend_left {
    position: relative;
    margin-right: 16px;
    color: #f2f2f2;;
    font-size: 32px;
    line-height: 38px;
    font-weight: 600;
    width: 40px;
    top: -10px;
}
.trend_right {
    
}
.trend_right > div {
    flex-direction: column;
}
.trend_author {
    font-size: 13px;
    margin-bottom: 8px;
}
.trend_author > div {
    flex-direction: row;
    align-items: center;
}
.trend_author_logo {
    padding: 0;
    max-height: 20px;
    max-width: 20px;
    height: 20px;
    width: 20px;
}
.trend_author_logo > img {
    border-radius: 50%;
}
.trend_author_name {
    margin-left: 8px;
}

.trend_title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    max-height: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    letter-spacing: 0;
}
.trend_date_time {
    font-size: 13px;
    color: #6b6b6b;
    line-height: 20px;
}
.trend_date_time > div {
    flex-direction: row;
    align-items: center;
}
.trend_date_seperator {
    padding: 0 6px;
}
.trend_read_lock {
    width: 16px;
    height: 16px;
    margin: 0 0 0 4px;
}

.posts_container {
    border-top: 1px solid #f2f2f2 ;
    padding-top: 56px;
}

.posts_container > div.fx {
    justify-content: center;
}

.posts_area {
    margin: 0 64px;
    max-width: 1192px;
    width: 100%;
}

.posts_grid {
    display: grid;
    grid-template-columns: repeat(8,1fr) repeat(4, minmax(48px, 1fr));
    grid-template-rows: 1fr;
}

.posts_section {
    grid-column: 1 / span 7;
    grid-row-start: 1;
}

.posts {
    padding: 12px 0;
}

.post {
    margin-bottom: 48px;
    width: 100%;
}
.post > div.fx {
    justify-content: space-between;
    align-items: center;
}
.post_content {
    margin-right: 20px;
    width: 100%;
}
.post_image {
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.post_image > img {
    vertical-align: middle;
}

.post_author_container {
    padding-bottom: 8px;
}
.post_author_container > div.fx {
    flex-direction: row;
    align-items: center;
}

.post_author_image {
    max-width: 20px;
    max-height: 20px;
}
.post_author_image > img {
    border-radius: 4px;
}

.post_author {
    margin-left: 8px;
}
.post_author > a {
    color: #242424;
    font-size: 13px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 16px;
    padding-right: 2px;
    text-overflow: ellipsis;
    word-break: break-all;
}

.post_title > h2 {
    color: #242424;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-overflow: ellipsis;
    letter-spacing: 0;
    overflow: hidden;
    line-height: 24px;
    max-height: 48px;
    margin: 0;
}
.post_summary {
    padding-top: 4px;
}
.post_summary > h3 {
    color: #6b6b6b;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    max-height: 40px;
    line-height: 20px;
    overflow: hidden;
    margin: 0;
}

.post_tools > div.fx {
    padding-top: 8px;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;

    font-size: 13px;
    color: #6b6b6b;
}

.post_date_time_container > div.fx {
    align-items: center;
}

.post_date_seperator {
    padding: 0 6px;
    height: 100%;
    top: -1;
    position: relative;
}

.post_read_lock {
    width: 16px;
    height: 16px;
    margin: 0 0 0 4px;
}

.post_save {
    max-height: 25px;
}

.post_tag {
    padding: 2px 8px;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    border-radius: 100px;
    line-height: 20px;
}

/* tags container */
.tags_container {
    grid-column: 9 / span 4;
    grid-row-start: 1;
}

.tags_area {
    top: 107px;
    position: sticky;
    
}

.tags_header {
    padding-bottom: 32px;
    border-bottom: 1px solid #f2f2f2;
}

.tags_top {
    padding-bottom: 16px ;
}
.tags_top > h2 {
    letter-spacing: 0;
    font-weight: 700;
    font-size: 16px;
    color: #242424;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.tags > div.fx {
    flex-wrap: wrap;
    align-items: flex-start;
}

.tag {
    margin-bottom: 10px;
    margin-right: 8px;
}
.tag > a {
    display: block;
    
}
.tag {
    white-space: nowrap;
    border: 1px solid #F2F2F2;
    border-radius: 100px;
    background-color: #F2F2F2;
    padding: 8px 16px;
    color: #242424;
    line-height: 20px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.tags_bottom {
    margin-top: 14px;
}
.tags_bottom > a {
    color: #1A8917;
    line-height: 20px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.tags_footer {
    padding: 24px 0;
}
.tags_footer > div.fx {
    flex-wrap: wrap;
    flex-direction: row;
}

.tags_footer > div.fx a {
    display: block;
    margin-right: 26px;
    margin-bottom: 8px;
    color: #6b6b6b;
    line-height: 20px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.tags_area_mobile {
    display: none;
    border-top: 1px solid #F2F2F2;
    padding-top: 24px;
    margin: 0 48px;
}

@media (904px < width < 1079.98px) {

    .trend {
        flex-basis: 50%;
        max-width: 50%;
    }

    .banner_right {
        display: none;
    }

}

@media (728px < width <= 904px) {

    .trend {
        flex-basis: 50%;
        max-width: 50%;
    }

    .tags_container {
        display: none;
    }
    .tags_area_mobile {
        display: block;
        
    }

    .posts_section {
        grid-column: 1 / span 12;
    }

    .banner_right {
        display: none;
    }

    .menu_content {
        margin: 0 48px;
    }

    .banner_content {
        margin: 0 48px;
    }

    .trends_content {
        margin: 0 48px;
    }

    .posts_area {
        margin: 0 48px;
    }

    

}

@media (552px < width <= 728px) {

    .trend {
        flex-basis: 100%;
        max-width: 100%;
    }

    .tags_container {
        display: none;
    }
    .tags_area_mobile {
        display: block;
        margin: 0 24px;
    }

    .posts_section {
        grid-column: 1 / span 12;
    }

    .banner_right {
        display: none;
    }

    .menu_content {
        margin: 0 24px;
    }

    .banner_content {
        margin: 0 24px;
    }

    .trends_content {
        margin: 0 24px;
    }

    .posts_area {
        margin: 0 24px;
    }

    .post_image > img {
        width: 150px;
        height: 100px;
    }

    .menu_right .menu_item:nth-child(-n+3) {
        display: none;
    }

    .post_summary {
        display: none;
    }

    .post_title > h2 {
        font-size: 16px;
        line-height: 20px;
        max-height: 40px;
    }
}

@media (width <= 552px) {

    .banner_left {
        width: 100%;
    }
    .banner_title {
        font-size: 70px;
    }
    

    .trend {
        flex-basis: 100%;
        max-width: 100%;
    }

    .tags_container {
        display: none;
    }
    .tags_area_mobile {
        display: block;
        margin: 0 24px;
    }

    .posts_section {
        grid-column: 1 / span 12;
    }

    .banner_right {
        display: none;
    }

    .menu_content {
        margin: 0 24px;
    }

    .banner_content {
        margin: 0 24px;
    }

    .trends_content {
        margin: 0 24px;
    }

    .posts_area {
        margin: 0 24px;
    }

    .post_image > img {
        width: 100px;
        height: 100px;
        object-fit:cover; 
        object-position: center;
    }

    .menu_right .menu_item:nth-child(-n+4) {
        display: none;
    }

    .post_summary {
        display: none;
    }

    .post_title > h2 {
        font-size: 16px;
        line-height: 20px;
        max-height: 40px;
    }

}